{{#if comments}}

<div id="comments">

    {{#each comments as |aComment|}}
       
    <div id="comment-created" class="card post-comment">
        <h5 id="comment-header-created" class="card-header post-header">Create New Comment</h5>
        <div class="card-body">
        <p class="card-text">{{aComment.post_comment}}</p>
        <button id="comment-delete-{{aComment.id}}" class="btn btn-primary delete-comment">Delete</button>
        <button id="comment-edit-{{aComment.id}}" class="btn btn-primary edit-comment">Edit</button>
    </div>
</div>
    {{/each}}

</div>
{{/if}}
