{{#ifEqual showContent true}}
    <div id="comment-new" class="card post-comment">
        <h5 id="comment-header-new" class="card-header post-header">Create New Comment</h5>
        <div id="new-comment-body" class="card-body">
        <textarea class="form-control the-new-comment" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button id="comment-delete-new" class="btn btn-primary delete-comment">Close</button>
        <button id="comment-create-new" class="btn btn-primary edit-comment">Save</button>
        </div>
        </div>
{{else}}
{{/ifEqual}}

