    
    
        <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="height: 100px; background-color: black !important;">
            <img src="/img/tinyComputer.jpg" alt="Bootstrap" height="80px">
            <a class="navbar-brand" href="#" style="color: white; font-weight:700; font-size:30px;">Totally Rad Tech Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <button id="home-button" class="nav-link active" aria-current="page" style="color: white;">Home</button>

        </li>
        <li class="nav-item">
        <button id="dashboard-button" class="nav-link active" aria-current="page" style="color: white;">Dashboard</button>

        </li>
        <li class="nav-item">
        <button id="page-button" class="nav-link active" aria-current="page" style="color: white;">Page</button>

        </li>
        <li class="nav-item">
          <button id="login-button" class="nav-link active" aria-current="page" style="color: white;">Login</button>
        </li>
        <li class="nav-item">
          <button id="logout-button" class="nav-link active" aria-current="page" style="color: white;">Logout</button>
        </li>
      </ul>
            </div>
            </div>
        </nav>
    </header>
    {{>signup}}
    {{!-- <script src="/js/login.js"></script> --}}


    
    
