.blog-post{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 800px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header:hover{
    cursor: pointer;
}
body{
    background-size: cover;
}
.post-comment{

    margin-bottom: 5px;
    margin-top: 2px;

}

#comments{

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom: 5px;
    width: 800px;
    padding: 10px;
    z-index: 1000;
    position:absolute;
    backdrop-filter: blur(1px);
    height: 100%;

}

.post-comment{

    width: 700px;
}

#close-comments{

    margin: 2px;
    

}

main{

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: 1;

}
/* #commentModalGroup{
    display: flex;
    align-items: center;
   justify-content: center;
}

#commentModalGroup .modal-content{
    width: 800px;
} */