.blog-post{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 800px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header:hover{
    cursor: pointer;
}

.post-comment{

    margin-bottom: 5px;
    margin-top: 2px;

}

#comments{

    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    background-color:lightgray;
    margin-bottom: 5px;
    width: 800px;
    padding: 10px;

}

.post-comment{

    width: 700px;
}

main{

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
/* #commentModalGroup{
    display: flex;
    align-items: center;
   justify-content: center;
}

#commentModalGroup .modal-content{
    width: 800px;
} */