.blog-post{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header:hover{
    cursor: pointer;
}