/* General page styles */
main{

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: 1;

}

body{
    background-size: cover;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* homepage post styles */

.blog-post{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 800px;
}

.card-header:hover{
    cursor: pointer;
}

.post-header{

    font-size: 16px !important;

}

/* pop-up comment styles */

.post-comment{

    margin-bottom: 5px;
    margin-top: 2px;

}

#comments{

    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    margin-bottom: 5px;
    width: 1000px;
    padding: 10px;
    z-index: 1000;
    position:absolute;
    backdrop-filter: blur(10px);
    height: 100%;

}

.post-comment{

    width: 100%;
}

#close-comments{

    margin: 2px;
    

}

/* post pop-up styles */

/* styles for the individual post card pop-up */
#new-post-title{
    margin-bottom: 10px;
  }
  #new-post-header{
    width: 100%;
    font-size: 16px;
  }
  .post-card .card-body{
    width: 100%;
  }
  .post-card{

    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    margin-bottom: 5px;
    width: 1000px;
    padding: 10px;
    z-index: 1000;
    position:absolute;
    backdrop-filter: blur(10px);
    height:auto;
}