.blog-post{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 800px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-header:hover{
    cursor: pointer;
}
body{
    background-size: cover;
}
.post-comment{

    margin-bottom: 5px;
    margin-top: 2px;

}

#comments{

    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    margin-bottom: 5px;
    width: 1000px;
    padding: 10px;
    z-index: 1000;
    position:absolute;
    backdrop-filter: blur(10px);
    height: 100%;

}

.post-comment{

    width: 700px;
}

#close-comments{

    margin: 2px;
    

}

main{

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: 1;

}

.post-header{

    font-size: 16px !important;

}

#post-details{
    margin: 0;
    padding: 5px;
    border: 3px solid black;
}

#post-details-header{
    font-size: 16px !important;
    background-color: lightgrey;
    padding: 5px;
    border-bottom: 2px solid darkgray;
}

#post-details-title{
    font-weight: bolder;
}
/* #commentModalGroup{
    display: flex;
    align-items: center;
   justify-content: center;
}

#commentModalGroup .modal-content{
    width: 800px;
} */