/* General page styles */

/* homepage post styles */
.card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.card-header h5{
    width: 100%;
}

.header-meta-data{
    text-align: right;
    font-size: 16px;
}

.blog-post{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 800px;
}

.post-header:hover{
    cursor: pointer;
}

.post-header{

    font-size: 16px !important;

}

/* pop-up comment styles */

.post-comment{

    margin-bottom: 5px;
    margin-top: 2px;

}

#comments{

    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    margin-bottom: 5px;
    width: 1000px;
    padding: 10px;
    z-index: 1000;
    /* position:absolute; */
    backdrop-filter: blur(10px);
    height: 100%;

}

.post-comment{

    width: 100%;
}

#close-comments{

    margin: 2px;
    

}

/* post pop-up styles */

/* styles for the individual post card pop-up */


#post-title-dab, #new-post-title{
    margin-bottom: 10px;
  }
  #edit-post-header, #new-post-header{
    width: 100%;
    font-size: 16px;
  }
  .post-card .card-body{
    width: 100%;
  }
  .post-card{

    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    margin-bottom: 5px;
    width: 1000px;
    padding: 10px;
    z-index: 1000;
    /* position:absolute; */
    backdrop-filter: blur(10px);
    height:auto;
}
.post-card-w-comment{

    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 1000;
    /* position:absolute; */
    backdrop-filter: blur(10px);
    height:auto;
    background-color: white;
}
#postWcomment{

    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    margin-bottom: 5px;
    width: 1000px;
    padding: 10px;
    z-index: 1000;
    position:absolute;
    backdrop-filter: blur(10px);
    min-height:100vh;
}
#single-post-hp{
    width: 100%;
}